[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/kvaleeva/app
ExecStart=/home/kvaleeva/app/venv/bin/python run.py

Restart=always

[Install]
WantedBy=multi-user.target